<template name='NavigationBar'>
    {{#if currentUser}}
        <div class='ui menu'>
            <a href='{{pathFor "home"}}' class='{{isActiveRoute regex="home"}} item'>
                <i class='home icon'></i>
            </a>
            <a href='{{pathFor "my-advices"}}' class='{{isActiveRoute regex="my-advices"}} item'>
                {{_ 'my-advices' }}
            </a>

            <div class='right menu'>
                <div class='ui user dropdown item'>
                    <i class='user icon'></i>
                    {{firstName}} <i class='dropdown icon'></i>
                    <div class='menu'>
                        <a href='{{pathFor "profile"}}' class='{{isActiveRoute regex="profile"}} item'>
                            <i class='write icon'></i>
                            {{_ 'edit-my-profile' }}
                        </a>
                        <a href='{{pathFor "my-family"}}' class='{{isActiveRoute regex="my-family"}} item'>
                            <i class='users icon'></i>
                            {{_ 'my-family' }}
                        </a>
                        <a href='{{pathFor "sign-out"}}' class='{{isActiveRoute regex="sign-out"}} item'>
                            <i class='sign out icon'></i>
                            {{_ 'sign-out' }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>
