<template name='MyAdvices'>
    {{> AdviceForm}}
    <div class='ui hidden divider'></div>
    {{> AdviceListing}}
</template>

<template name='AdviceListing'>
    <div id='advices-container'>
        <h2 class='ui horizontal divider section header'>
            <i class='icons'>
                <i class='heart icon'></i>
                <i class='inverted corner list icon'></i>
            </i>
            Your advices so far
        </h2>

        {{> AdviceTimeline}}

        <div class='ui hidden divider'></div>

        <h3 class='ui section header'>
            And here are all of them
        </h3>

        <div class='advices ui relaxed divided list'>
            {{#each list}}
                <div class='advice item stackable relaxed grid'>
                    <div class='row'>
                        <div class='column left floated'>
                            <i class='big empty heart middle aligned icon'></i>
                        </div>
                        <div class='column content'>
                            <div class='row'>
                                <div class='column left floated header'>{{advice}}</div>
                                <div class='column meta'>
                                    <i class='wait icon'></i>
                                    {{fromNow when}}
                                </div>
                            </div>
                            <div class='row description'>{{description}}</div>
                        </div>
                    </div>
                </div>
            {{else}}
                <h3 class='ui header center aligned'>
                    No advice eternized yet! The future awaits! Go ahead and add some!<i class='right floated smile icon'></i>
                </h3>
            {{/each}}
        </div>
    </div>
</template>
