<template name='InsertAdviceForm'>
    <h2 class='ui horizontal divider header'>
        <i class='icons'>
            <i class='heart icon'></i>
            <i class='inverted corner add icon'></i>
        </i>
        Add a new advice
    </h2>
    {{> quickForm id='InsertAdviceForm'
        collection='Advices'
        type='insert'
        omitFields='creator'
        class='stacked segment'
        buttonContent='Make this advice eternal!'
    }}
</template>

<template name='UpdateAdviceForm'>
    {{> quickForm collection='Advices' doc=this id='UpdateAdviceForm' type='update'}}
</template>

<template name='AdviceListing'>
    <div id='advices-container'>
        <h2 class='ui horizontal divider header'>
            <i class='icons'>
                <i class='heart icon'></i>
                <i class='inverted corner list icon'></i>
            </i>
            Your advices so far
        </h2>
        <ul id='advices'>
            {{#each list}}
                <li class='advice'>
                    {{advice}} &mdash; {{description}} &rarr; {{when}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name='MyAdvices'>
    {{> InsertAdviceForm}}
    {{> AdviceListing}}
</template>
