<template name='InsertAdviceForm'>
    <h2 class='ui horizontal divider header padded'>
        <i class='tag icon'></i>
        Add a new advice
    </h2>
    {{> quickForm id='InsertAdviceForm'
        collection='Advices'
        type='insert'
        omitFields='creator'
        class='stacked segment'
        buttonContent='Make this advice eternal!'
    }}
</template>

<template name='UpdateAdviceForm'>
    {{> quickForm collection='Advices' doc=this id='UpdateAdviceForm' type='update'}}
</template>

<!-- <template name='AdviceForm'> -->
<!--     <form id='advices&#45;form'> -->
<!--         <h2>Make this advice unforgettable:</h2> -->
<!--  -->
<!--         <input placeholder='Title' type='text' class='adviceName' value='' /> -->
<!--         <textarea placeholder='What is your advice?' rows='4' class='adviceDescription'></textarea> -->
<!--         <input placeholder='Timing' type='text' class='adviceWhen' value='' /> -->
<!--         <input type='submit' class='submit' value='Make my advice eternal!' /> -->
<!--     </form> -->
<!-- </template> -->

<template name='AdviceListing'>
    <div id='advices-container'>
        <h2 class='ui horizontal divider header'>
            <i class='tag icon'></i>
            Your advices so far
        </h2>
        <ul id='advices'>
            {{#each list}}
                <li class='advice'>
                    {{advice}} &mdash; {{description}} &rarr; {{when}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name='MyAdvices'>
    {{> InsertAdviceForm}}
    {{> AdviceListing}}
</template>
