<template name='InsertFamilyMemberForm'>
    <h2 class='ui horizontal divider section header'>
        <i class='icons'>
            <i class='user icon'></i>
            <i class='inverted corner add icon'></i>
        </i>
        Add a new family member
    </h2>
    {{> quickForm id='InsertFamilyMemberForm'
        collection='Family'
        type='insert'
        omitFields='user'
        class='stacked segment'
        buttonContent='Add this beloved one'
    }}
</template>

<template name='FamilyListing'>
    <div id='family-container'>
        <h2 class='ui horizontal divider section header'>
            <i class='icons'>
                <i class='users icon'></i>
            </i>
            My Family
        </h2>
        <div class='family ui relaxed horizontal divided list'>
            {{#each list}}
                <div class='family-member item stackable relaxed grid'>
                    <div class='row'>
                        <div class='column left floated'>
                            <i class='big empty heart middle aligned icon'></i>
                        </div>
                        <div class='column content'>
                            <div class='row'>
                                <div class='column left floated header'>{{advice}}</div>
                                <div class='column meta'>
                                    <i class='wait icon'></i>
                                    {{fromNow when}}
                                </div>
                            </div>
                            <div class='row description'>{{description}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name='MyFamily'>
    <!--{{> InsertFamilyMemberForm}}
    <div class='ui hidden divider'></div>
    {{> FamilyListing}}
    -->
    {{> quickForm id='UpdateFamilyForm'
        schema=Schemas.Profile
        doc=profile
        fields='family'
        type='method'
        meteormethod='updateFamily'
        class='segment'
        buttonContent='Update my beloved ones'
    }}
</template>
