<template name='AdviceForm'>
    <div class='family-member ui modal'>
        <i class='close icon'></i>
        <div class='header'>{{_ 'add-a-new-family-member-here-and-then-select-it-on-the-list' }}</div>
        <div class='ui hidden divider'></div>

        {{> MyFamily}}
    </div>

    <h2 class='ui horizontal divider section header'>
        <i class='icons'>
            <i class='heart icon'></i>
            <i class='inverted corner add icon'></i>
        </i>
        {{_ 'add-a-new-advice' }}
    </h2>

    {{#autoForm id='AdviceForm'
        collection=Collections.Advices
        type='insert'
        class='stacked segment'
    }}
        {{> afQuickField name='advisee' class='advisee' options=adviseeOptions}}
        {{> afQuickField name='advice'}}
        {{> afQuickField name='description'}}

        <div class='two fields'>
            {{> afQuickField name='when.type' class='when' options=whenTypeOptions fullTextSearch=true}}

            {{#if afFieldValueIs name='when.type' value='specific-age'}}
                {{! The following looks broken currently}}
                {{! Waiting on: https://github.com/Semantic-Org/Semantic-UI/issues/3462 }}
                {{> afQuickField type='number' name='when.value' min=0 label=false leftLabel=(_ 'type-the-age') rightLabel=(_ 'years')}}
            {{else}}
                {{#if afFieldValueIs name='when.type' value='specific-date'}}
                    {{> AdviceForm_When_Date}}
                {{else}}
                    {{#if afFieldValueIs name='when.type' value='important-moment'}}
                        {{> afQuickField name='when.value' options=importantMomentOptions fullTextSearch=true allowAdditions=true label=(_ 'choose-the-best-moment-for-it')}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>

        <div class='ui clearing hidden divider'></div>

        {{> afFieldInput type='submit' value=(_ 'make-this-advice-eternal')}}
    {{/autoForm}}
</template>

<template name='AdviceForm_When_Date'>
    {{> afQuickField name='when.value' class='ui dropdown datetimepicker' label=(_ 'choose-the-date')}}
</template>
