<template name='Profile'>
    <h2 class='ui horizontal divider header'>
        <i class='icons'>
            <i class='user icon'></i>
            <i class='inverted corner write icon'></i>
        </i>
        {{_ 'here-you-can-edit-your-profile' }}
    </h2>

    {{> quickForm id='UpdateProfileForm'
        schema=Schemas.Profile
        doc=profile
        omitFields='family'
        type='method'
        meteormethod='updateProfile'
        class='segment'
        buttonContent=(_ 'update-my-profile')
    }}
</template>
